body {
  background-color:#1f233e !important;
  
}

h1 {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
  color: #f9ba46 !important;
  margin-bottom:0.6em !important;
  font-size: 3.2em;
}

h2 {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  color: white !important;
  font-size: 1.6em !important;
  
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

p {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  font-size:1.4em;
  color: white;
  line-height:1.7em;
}

strong {
  background-color: rgb(255, 255, 255,0.2);
}



.p-xl {
  font-size:2.4em;
}


.background-top {
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
}

.background-top img {
    position: relative;
    width:100vw;
    margin:0 auto;
    opacity:0.4;
    
}

.logo{
    max-height: 400px;
    margin:0 auto;
}

.yellow-box {
  border:5px double #f9ba46;

  padding:5em 3em;
  margin:4em 0;
}

.no-border {
    border:0;
}

.yellow-box-alt {
  border-color: #313a5b;
  border-style:dashed;
  border-width: 2px;
}

.section-intro {
  max-width:1000px;
  margin:0 auto;
}

.button-white {
  color:#1f233e;
  background:white;
  padding:1.2em 1.4em;
  border-radius:100em;
  text-decoration:none;
  border:2px solid #1f233e;
  font-weight:bold;
  transition: all 0.5s ease;
  font-size:0.8em;
}

.button-white:hover {
  background:#1f233e;
  color:white;
  border:2px solid white;
  transition: all 0.5s ease;
}

.divider-container {
    position:relative;
    height: 100%;
    width:100%;
}

.divider-container img {
    position:absolute;
    top:-160px;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    height: 60px;
}
button .bi {
  margin-right:1em;
  color: #f9ba46;
}

.accordion {
  --bs-accordion-bg: none !important;
  --bs-accordion-color: white !important;
  --bs-accordion-border-color: none !important;
  --bs-accordion-border-radius: 0 !important;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size:1.1em;
  line-height:2em;
  
}

.accordion-header {
  background-color: #1f233e;
  color: white !important;
  border-bottom: 2px solid #2d3459;
  
}


.accordion-button {
  color: white !important;
  font-style:italic;
  font-size:0.8em !important;
  transition: all 0.5s ease;
}




.accordion-button:not(.collapsed) {
 background-color: #1f233e !important;
  }

  .accordion-button:hover {
  background-color:rgba(255,255,255,0.1) !important;
  transition:all 0.6s ease;
}


.accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
 }


@media only screen and (max-width: 1080px) {
  .p-xl {
    font-size:1.3em;
  }
  
  p {
    font-size:1em;
  }
  .yellow-box {
    padding:3em 1.8em;
  }
  
  .accordion {
    font-size:1em;
  }
  
  .accordion-button {
  font-size:0.7em !important;
}

.logo{
    max-height: 300px;
    margin:0 auto;
}

.divider-container img {
    position:absolute;
    top:-100px;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    height: 60px;
}

.button-white {
  display: block;
  margin-top:1em;
}

.background-top img {
    position: relative;
    width: 250vw;
    margin:0 auto;
    opacity:0.4;
    
}

}